body{
    padding-top: 50px;
}
#container{
    width: 500px;
    height: 350px;
    border: 2px solid black;
    margin: auto;
    display: flex;
}
button{
    position: absolute;
    top: 100px;
    left: 400px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid gray;
    background-color: lightgray;
}